.custom-login {
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    rgb(236, 247, 240),
    rgb(251, 251, 219)
  );

  & > form {
    width: 550px;
    height: 350px;
    background-color: #ebe4e4;
    border-radius: 10px;

    & > button {
      display: block;
      margin: 30px auto;
    }
  }
}
