<div class="container">
  <div class="row mt-3">
    <div class="col-sm mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">管理模块</h5>
          <p class="card-text">
            管理模块包括：内外部因素、相关方期望、体系范围、经营计划、方针、目标、组织机构、过程规划
          </p>
          <a href="#" class="btn btn-primary">点击进入</a>
        </div>
      </div>
    </div>
    <div class="col-sm mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">过程策划模块</h5>
          <p class="card-text">
            过程策划包括了每一个识别的过程的具体策划，包括过程要素识别、流程、风险点和控制措施、过程控制文件、过程数据和记录策划等。
          </p>
          <a href="#" class="btn btn-primary">点击进入</a>
        </div>
      </div>
    </div>
    <div class="col-sm mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">监视和测量模块</h5>
          <p class="card-text">
            监视和测量模块包括过程的监视和测量、产品的监视和测量以及相关的具体绩效指标的策划。
          </p>
          <a href="#" class="btn btn-primary">点击进入</a>
        </div>
      </div>
    </div>
    <div class="col-sm mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">持续改进模块</h5>
          <p class="card-text">
            持续改进模块包括了不符合产品的管理、过程不符合的管理、客户投诉问题的管理、改进措施的管理。
          </p>
          <a href="#" class="btn btn-primary">点击进入</a>
        </div>
      </div>
    </div>
  </div>
</div>
